#/usr/bin/env sh
#   Written by Peter L. Morrell and Corey Carter
#   07 August 2019, Falcon Heights, MN

#   Output location
output=

#   Pass the full path to the FAST5 data directory as an argument
fast5=/Users/pmorrell/Downloads/20190419_WBDC355_Run2/fast5

#   Add the name of the sample. This will be used in naming the output directory
sampleName=20190419_WBDC355_Run2

#    This is run-specific, but typically FLO-MIN106 or FLO-MIN108
flowCell=FLO-MIN106

#    This is run-specific, but typically SQK-RAD004
kit=SQK-RAD004